
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Anybody', cursive;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: block;
    width:100%;
}
.main-container{
    width: 1450px;
    max-width: 100%;
    margin: auto;
}
.sub-container{
    width:1150px;
    max-width: 100%;
}
@font-face {
    font-family: 'supremeregular';
        src: url('/fonts/suprrg__-webfont.woff2') format('woff2'),
         url('/fonts/suprrg__-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}
